<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tetris</title>
     <link rel="stylesheet" type="text/css" href="style.css">
     <link rel="shortcut icon" href="tetris_logo.png" type="image/x-icon">
     <base target="_top">
  </head>
  <body id="top">
    <div id="game-over">
        <h2>GAME OVER</h2>
        <h3 id="final-score"></h3>
        <h4>Click to play again</h4>
    </div>
    <div class="canvas-area">
      <canvas id="tetris" width="240" height="400"></canvas>
      <ul class="sidebar group">
        <div id="score">
           Score:
          </div>
        <li class="next-piece">
          <h2>Next Piece:</h2>
          <canvas id="nextPiece" width="100" height="100"></canvas>
        </li>
      </ul>
    </div>
    <script src="./lib/board.js"></script>
    <script src="./lib/player.js"></script>
    <script src="./lib/tetris.js"></script>
    <script src="./lib/main.js"></script>
  </body>
</html>
