.banner{
    width: 15%;
     float: left;
     height: 100vh;
}
.content{
    float: left;
    width: 70%;
    margin:  auto;
}
.img_banner{
    inline-size: 13%;
    margin-top: 150px;
    margin-left: 15px;
    cursor: pointer;
    position: fixed 
}


@media only screen and (max-width:1366px){
    .banner{
        width: 5%;
         height: 100vh;
    }
    .content{
        width: 90%;
    }
    .img_banner{
        display: none;
    }
}
@media only screen and (max-width:1024px){
    .banner{
        width: 0%;
         height: 0vh;
    }
    .content{
        width: 100%;
    }   
}