button.buttonFull{
	border-radius: 20px;
	border: none;
	background: linear-gradient(90deg,#22cab5,#3fe28f);
	min-width:88px;
	color: #fff;
	padding: 8px;
	font-size: 0.8em;
	white-space: nowrap;
}
button.buttonGhost{
	border-radius: 20px;
	background:#232b36;
	min-width:88px;
	color: #00948d;
	border: 1px solid #00948d;
	padding: 8px;
	font-size: 0.8em;
	white-space: nowrap;
}
button.moreArticle{
	border-radius: 20px;
	background: transparent;
	border: none;
	color: #fff;
	padding: 10px;
	font-size: 0.8em;
	white-space: nowrap;
	min-width:88px;
}
.articleEvent{
	border: solid 1px #fe8731;
	display: inline-block;
	padding: 5px;
	margin: 2px;
	border-radius: 5px;
	font-size: 0.6em;
	color: #fe8731;
	white-space: nowrap;
}
.articleNew{
	border: solid 1px #23968c;
	display: inline-block;
	padding: 5px;
	margin: 2px;
	border-radius: 5px;
	font-size: 0.6em;
	color: #23968c;
	white-space: nowrap;
}
.title{
    color: gray;
    margin-top: 10px;
}
.tagName{
	margin-left: 20px;
	font-size: 11px;
	border: 1px solid #23c9b6;
	padding: 1px 2px;
	border-radius: 20px;
}
button:hover{
	background:#3c434c;
	cursor: pointer;
}
