
button.moreGame{
	border-radius: 20px;
	background: transparent;
	border: none;
	color: #fff;
	padding: 10px;
	font-size: 0.8em;
	white-space: nowrap;
	min-width:88px;
}
button:hover{
	background:#3c434c;
	cursor: pointer;
}
