.infoTitle{
    width: 570px;
    padding-bottom:50px;
}
.takeTurn{
    width:50%;
    color:#00b4bd;
    float:left
}
.valueUser{
    width:50%;
    float:left;
    padding-left:15px
}
.optionLeft{
    width:48%;
    float:left;
}
.optionRight{
    width:48%;
    float:right;
}

.closeBuy{
    color: #808080;
    border: 0px solid;
    background: #232936;
    padding: 10px 25px;
    margin-right: 20px;
    border-radius: 20px;
}
.buttonOrange{
    border-radius: 20px;
    background: linear-gradient(90deg,#ff5f27,#ff9019);
    color: #fff;
    border: 0px solid;
    padding: 10px; height:40px;
    font-size: 0.8em;
    white-space: nowrap;
    min-width: auto;
    min-height: auto
}
.buttonGreen{
    border-radius: 20px;
    background: linear-gradient(90deg,#22cab5,#3fe28f);
    color: #fff;
    border: 0px solid;
    padding: 10px; height:40px;
    font-size: 0.8em;
    white-space: nowrap;
    min-width: auto;
    min-height: auto;
}
.action{
    float:right;
     margin-top:20px;
}
.buy{
    color: #fff;
    border: 0px solid;
    background: #00ccd4;
    padding: 10px 30px;
    border-radius: 20px;
}
.buy:hover{
    background: #1af7ff;
}
.buttonOrange:hover{
    background: linear-gradient(90deg,#ff7c4d,#ffa94d);
}
.buttonGreen:hover{
    background: linear-gradient(90deg,#3bdecb,#64e8a4);
}


@media only screen and (max-width:600px){
    .infoTitle{
        width: auto;
        text-align: center;
        padding-bottom:0px;
    }
    .takeTurn{
        width:100%;
    }
    .valueUser{
        width:100%;
        padding: 20px 0px;
    }
    .optionLeft{
        width:100%;
    }
    .optionRight{
        width:100%;
    }
    .closeBuy{
        margin-bottom: 15px;
        width: 100%;
    }
    .buy{
        width: 100%;
    }
    .action{
       width: 100%;
    }
}
@media only screen and (max-width:414px){


}

@media only screen and (max-width:375px){

}

@media only screen and (max-width:320px){

}